site_name: 'facileManager Documentation'
site_url: 'https://docs.facilemanager.com/'
repo_url: 'https://github.com/facileManager/facileManager'
repo_name: facileManager
edit_uri: /facileManager/facileManager-docs/edit/master/docs
copyright:
validation:
  links:
    anchors: warn
theme: 
  name: material
  # name: readthedocs
  logo: images/fm.png
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - header.autohide
    - navigation.instant
    - navigation.tracking
    - navigation.footer
    - navigation.sections
    # - navigation.expand
    - navigation.instant
    - navigation.instant.progress
    - content.action.edit
    - content.action.view
    - search.suggest
    - search.highlight
    - search.share
    - navigation.top
    - content.code.copy
    - content.tabs.link

nav:
  - 'Overview': index.md
  - 'Getting Started':
    - 'Prerequisites': getting-started/prerequisites.md
    - 'Installation': getting-started/basic-install.md
    - 'Post-Install': getting-started/post-install.md
    - 'Updating': getting-started/update.md
  - 'Administration':
    - 'Settings': admin/settings.md
    - 'Users & Groups': admin/manage-users.md
    - 'config.inc.php': admin/config.inc.php.md
    - 'Module Management' : admin/manage-modules.md
    - 'Server Interaction' : admin/servers.md
    - 'client.php' : admin/client.php.md
  - 'Modules':
    - 'fmDHCP':
      - 'Getting Started' : modules/fmDHCP/index.md
    - 'fmDNS':
      - 'Getting Started' : 
        - 'Server Groups' : modules/fmDNS/getting-started/server-groups.md
        - 'Zones' : modules/fmDNS/getting-started/zones.md
        - 'Resource Records' : modules/fmDNS/getting-started/records.md
      - 'Advanced' : 
        - 'Templates' : modules/fmDNS/advanced/templates.md
        - 'URL RR' : modules/fmDNS/advanced/url.md
        - 'Variables' : modules/fmDNS/advanced/variables.md
      - 'Examples' : 
        - 'Split-View' : modules/fmDNS/examples/split-view.md
    - 'fmFirewall':
      - 'Getting Started' : modules/fmFirewall/index.md
    - 'fmSQLPass':
      - 'Getting Started' : modules/fmSQLPass/index.md
    - 'fmWifi':
      - 'Getting Started' : 
        - 'Server Groups' : modules/fmWifi/getting-started/server-groups.md
        - 'WLAN Management' : modules/fmWifi/getting-started/wlans.md
  - 'fM API':
    - 'REST API': api/index.md
    - 'Authentication': api/auth.md
    - 'Return Codes': api/codes.md
    - 'client.php' : api/client.php.md
  - 'FAQ': faq.md
  - 'Reporting Issues': issues.md

markdown_extensions:
  # Code highlighting in ``` ``` blocks, superseeds codehilite
  - pymdownx.highlight
  # allows for the nesting of code blocks inside other blocks
  - pymdownx.superfences
  - pymdownx.inlinehilite
  # Table of Contents
  # https://python-markdown.github.io/extensions/toc/
  - toc:
      permalink: true
  # block-styled side content
  # https://squidfunk.github.io/mkdocs-material/reference/admonitions/
  - admonition
  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#details
  - pymdownx.details

  # Format tables
  - tables

  # linkifies URL and email links without having to wrap them in Markdown syntax. Also, allows shortens repository issue, pull request, and commit links.
  # - pymdownx.magiclink
  # Task lists (https://facelessuser.github.io/pymdown-extensions/extensions/tasklist/)
  # - pymdownx.tasklist:
  #     custom_checkbox: true
  # Highlight words with ==mark me==
  # - pymdownx.mark
  # Adds support for deletion ~~Delete me~~ and subscript text~a\ subscript~
  # - pymdownx.tilde
  # This extension is a convenience extension which includes many pymdownx extensions
  # (https://facelessuser.github.io/pymdown-extensions/extensions/extra/)
  # - pymdownx.extra

  # Tabbed provides a syntax to easily add tabbed Markdown content.
  # https://facelessuser.github.io/pymdown-extensions/extensions/tabbed/
  - pymdownx.tabbed:
      alternate_style: true
  # Adds syntax for defining footnotes in Markdown documents (https://squidfunk.github.io/mkdocs-material/reference/footnotes/)
  # - footnotes
  # Adds the ability to define abbreviations (https://squidfunk.github.io/mkdocs-material/reference/tooltips/)
  # - abbr
  - attr_list
  # Include files in other documents like {!some/dir/in/docs/filename.md!}
  # - markdown_include.include:
  #     base_path: docs
  - pymdownx.snippets:
      check_paths: true
      base_path:
        - docs/modules/
        - docs/src/
  #     # auto_append abbreviations.md to every file
  #     # https://squidfunk.github.io/mkdocs-material/reference/tooltips/#adding-a-glossary
  #     auto_append:
  #       - docs/abbreviations.md
  # Metadata support in pages
  # (https://squidfunk.github.io/mkdocs-material/extensions/metadata/)
  # - meta
  # Tabbed provides a syntax to easily add tabbed Markdown content.
  # (https://facelessuser.github.io/pymdown-extensions/extensions/tabbed/)
  # - pymdownx.tabbed
  # InlineHilite is an inline code highlighter inspired by CodeHilite.
  # (https://facelessuser.github.io/pymdown-extensions/extensions/inlinehilite/)
  # - pymdownx.inlinehilite
  - pymdownx.arithmatex:
      generic: true

plugins:
  - search
  - git-revision-date-localized
  - git-committers:
      repository: facileManager/facileManager-docs

extra_css:
  - extra.css
